<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>
        Delicious restorant</title>
    </head>
    <body>
    <div class="container">
        <header class="header">
            <div class="header__inner">

                <h1 class="header__title"><a href="#hero" class="skip-link">Delicious <span>Restorant</span></a></h1>
            </div>
            <a id="restaurant" class="header__menu">☰</a>
        </header>
        
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#">Home</a></li>
                <li class="nav__item"><a href="#">Favorite</a></li>
                <li class="nav__item"><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <!-- hero element -->
        <section class="hero-element" id="hero">
            <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
        </section>
        <section class="descfood">
            <h2>Restorant</h2>
            <img src="./images/heros/hero-image_2.jpg" width="450" alt="food"/>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, assumenda, aperiam fuga rem sapiente maiores repellat nisi incidunt odio eligendi quos eos mollitia laudantium, non molestiae ea explicabo corrupti at.</p>
        </section>
            <!-- Daftar Restorant -->
        <section class="restorant-list">
            <h2>Daftar Restaurant</h2>
        </section>
    </main>
        <!-- footer -->
    <footer>
        <div>
        <h2>Copyright © 2023 - 
        Delicious Restorant Apps</h2>
        </div>
    </footer>
    
</body>
</html>
